.container {
	background: white;
}
.container-fluid {
	background: white;
}
.col {
	border-style: solid;
	border-width: 1px;
	padding:10px;
	text-align: center;
	margin:1rem;
}
a{
	background-color: lightgreen;
}